@media (max-width: 1300px) {
.cardBox{
    padding: 1.6rem 1.2rem 0 0.8rem;
    box-sizing: border-box;
    height: 5rem;
}
.serviceImage{
   width:50px;
   height:auto;
   margin-top:41px;
}
  .Titlee{
    /* width: 69px; */
    /* height: 16px; */
    font-family: FZZZHONGJW-GB1-0;
    font-size: 16.7px;
    /* line-height: 3.6; */
    letter-spacing: 0.8px;
    text-align: center;
    color: #00aeef;
    margin-top: 28px;
  }

  .buttonPic{
    width:89px;
    height: 25px;
    margin-top:20px;
  }
  .buttonBottom{
   clear: both;
   padding:0 1rem;
   box-sizing:border-box;
   height:3rem;
  }
.serviceTitle{
  line-height: 4rem;
  height: 4rem;
  font-size:2rem;
}
  .TitleeChange{
    font-family: FZZZHONGJW-GB1-0;
    font-size: 16.7px;
    /* line-height: 3.6; */
    letter-spacing: 0.8px;
    text-align: center;
    color: #fff;
    margin-top: 28px; 
  }
  .NumberChange{
    /* font-size: 3.26rem; */
    width: 3.5rem;
    height: 5rem;
    /* line-height: 5rem; */
    font-family: CTBiaoSongSJ;
    font-size: 3.26rem;
    /* line-height: 3.6; */
    /* letter-spacing: 1.6px; */
    /* text-align: left; */
    color: #ffffff;
    /* margin: 0; */
    float: left;
    /* position: relative; */
    display: inline;
    position: relative;
    top: -0.6rem;
  }
  .titles{
    /* font-family: "Helvetica Neue"; */
    /* width: auto; */
    /* text-align: left; */
    width: 143px;
    height: 33px;
    font-family: FZZZHONGJW-GB1-0;
    font-size: 1.6rem;
    line-height: 1.13;
    letter-spacing: 0.8px;
    text-align: left;
    color: #0099cc;
    float: right;
  }
  .titleChange{
    /* font-family: "Helvetica Neue"; */
    /* width: auto; */
    /* text-align: left; */
    width: 143px;
    height: 33px;
    font-family: FZZZHONGJW-GB1-0;
    font-size: 1.6rem;
    line-height: 1.13;
    letter-spacing: 0.8px;
    text-align: left;
    color:#fff;
    float: right;
    
  }
  .titleChange2{
     /* width: 69px; */
    /* height: 16px; */
    font-family: FZZZHONGJW-GB1-0;
    font-size: 16.7px;
    /* line-height: 3.6; */
    letter-spacing: 0.8px;
    text-align: center;
    color: #fff;
    margin-top: 28px;   
  }
  .Number{
    /* font-size: 3.26rem; */
    width: 3.5rem;
    height: 5rem;
    /* line-height: 5rem; */
    font-family: CTBiaoSongSJ;
    font-size: 3.26rem;
    /* line-height: 3.6; */
    /* letter-spacing: 1.6px; */
    /* text-align: left; */
    color: #999999;
    /* margin: 0; */
    float: left;
    /* position: relative; */
    display: inline;
    position: relative;
    top: -0.6rem;
  }
  .description{
  width: 176px;
  height: 50px;
  font-family: FZLTZHK-GBK1-0;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.6px;
  text-align: left;
  color: #666666;
  display: inline;
    position: relative;
    top: -0.8rem;
  }
  .descriptionChange{
  width: 176px;
  height: 50px;
  font-family: FZLTZHK-GBK1-0;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.6px;
  text-align: left;
  color: #ffffff;
  display:inline;
    position: relative;
    top: -0.8rem;
  }
  .descriptionBottom{
    height: 8rem;
  }
}  

@media (min-width: 1300px) {
.cardBox{
    padding: 1.6rem 1.2rem 0 0.8rem;
    box-sizing: border-box;
    height: 5rem;
}
.serviceImage{
   width:50px;
   height:auto;
   margin-top:41px;
}
  .buttonmove{
    position: relative;
    bottom:1rem;
  }
  .descriptionBottom{
    height: 9rem;
  }
  .titles{
    /* font-family: "Helvetica Neue"; */
    /* width: auto; */
    /* text-align: left; */
    width: 143px;
    height: 33px;
    font-family: FZZZHONGJW-GB1-0;
    font-size: 1.6rem;
    line-height: 1.13;
    letter-spacing: 0.8px;
    text-align: left;
    color: #0099cc;
    float: right;
  }
  .titleChange{
    /* font-family: "Helvetica Neue"; */
    /* width: auto; */
    /* text-align: left; */
    width: 143px;
    height:33px;
    font-family: FZZZHONGJW-GB1-0;
    font-size: 1.6rem;
    line-height: 1.13;
    letter-spacing: 0.8px;
    text-align: left;
    color:#ffffff;
    float: right;
  }
  .Titlee{
    /* width: 69px; */
    /* height: 16px; */
    font-family: FZZZHONGJW-GB1-0;
    font-size: 16.7px;
    /* line-height: 3.6; */
    letter-spacing: 0.8px;
    text-align: center;
    color: #00aeef;
    margin-top: 28px;
  }
  .titles{
    color: #0099cc
  }
  .titleChange{
    color: #ffffff
  }
  .buttonPic{
    width:89px;
    height: 25px;
    margin-top:20px;
  }
  .buttonBottom{
   clear: both;
   padding:0 1rem;
   box-sizing:border-box;
   height:5rem;
   line-height: 5rem;
  }
.serviceTitle{
  line-height: 4rem;
  height: 4rem;
  font-size:2rem;
}
  .TitleeChange{
    /* width: 69px; */
    /* height: 16px; */
    font-family: FZZZHONGJW-GB1-0;
    font-size: 16.7px;
    /* line-height: 3.6; */
    letter-spacing: 0.8px;
    text-align: center;
    color: #fff;
    margin-top: 28px;
  }
  .titleChange2{
     /* width: 69px; */
    /* height: 16px; */
    font-family: FZZZHONGJW-GB1-0;
    font-size: 16.7px;
    /* line-height: 3.6; */
    letter-spacing: 0.8px;
    text-align: center;
    color: #fff;
    margin-top: 28px;   
  }
  .NumberChange{
    /* font-size: 3.26rem; */
    width: 3.5rem;
    height: 5rem;
    /* line-height: 5rem; */
    font-family: CTBiaoSongSJ;
    font-size: 3.26rem;
    /* line-height: 3.6; */
    /* letter-spacing: 1.6px; */
    /* text-align: left; */
    color: #fff;
    /* margin: 0; */
    float: left;
    /* position: relative; */
    display: inline;
    position: relative;
    top: -0.6rem;
  }
  .Number{
    /* font-size: 3.26rem; */
    width: 3.5rem;
    height: 5rem;
    /* line-height: 5rem; */
    font-family: CTBiaoSongSJ;
    font-size: 3.26rem;
    /* line-height: 3.6; */
    /* letter-spacing: 1.6px; */
    /* text-align: left; */
    color: #999999;
    /* margin: 0; */
    float: left;
    /* position: relative; */
    display: inline;
    position: relative;
    top: -0.6rem;
  }
  .description{
  width: 176px;
  height: 50px;
  font-family: FZLTZHK-GBK1-0;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.6px;
  text-align: left;
  color: #666666;
      display: inline;
    position: relative;
    top: -0.8rem;
  }
  .descriptionChange{
  width: 176px;
  height: 50px;
  font-family: FZLTZHK-GBK1-0;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.6px;
  text-align: left;
  color: #ffffff;
   display: inline;
    position: relative;
    top: -0.8rem;
  }
}
  h1,
  h2 {
    font-weight: normal;
  }
  
  ul {
    list-style-type: none;
    height: 5.6rem;
    line-height:5.6rem;
    display: inline-block;
    width: auto;
  }
  .colorChange{
     background-color:#42a4fc;
  }
  .aaa{
    background-color: #fff
  }
  .moveChange{
     -webkit-transform: translateY(-1rem);
     -moz-transform: translateY(-1rem);
     -ms-transform: translateY(-1rem);
     transform: translateY(-1rem);
  }
  .titles{
    color: #0099cc
  }
  .titleChange{
    color: #ffffff
  }
  .example {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
    height: auto;
  }
  .pagebottom{
    width: 100%;
    box-sizing: border-box;
    background-color: #333333;
    height: 157px;
  }
  .grey {
    display: inline-block;
    position: relative;
    top: -7rem;
    padding: 1.5rem;
    box-sizing: border-box;
    height:auto;
    background-color: black;
    opacity: 0.7;
    width: 100%;
    height: 12.5rem;
  }
  .active{
    color:#42a4fc;
   background-color: #f2f2f2;
    border-bottom: 0.3rem solid  #0099cc; 
    border-right: 0.1rem solid #e5e5e5;
    border-left: 0.1rem solid #e5e5e5;
    border-top: 0.1rem solid #e5e5e5;
   }
  .bannerWord {
    width: 28.3rem;
    height: 6.4rem;
    position: absolute;
    left: 24.1rem;
    top: 10.6rem;
  }
  
  .bottleNeck {
    position: relative;
    width: 100%;
    padding-top: 3.5rem;
    height: auto;
    background-color: #f9fafc
  }
  
  .title1 {
    width: 100%;
    height: auto;
  }
  
  .service {
    width: 100%;
    height: auto;
    background-color: #f9fafc
  }
  
  .title2 {
    width: 13rem;
    height: 3.3rem;
    margin-top: 3.3rem;
  }
  
  .title3 {
    width: 13rem;
    height: 3.3rem;
  }
  
  .title4 {
    width: 100%;
    height: auto;
  }
  
  .title5 {
    width: 100%;
    height: 100%;
    margin-top: 4.7rem;
  }
  
  .title6 {
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
  }
  .title7{
    width: 100%;
    height:100%;
    margin-bottom:41px;
    margin-top: 51px;   
  }
  .bannerMore {
    width: 53.4rem;
    height: 3.7rem;
    position: absolute;
    left: 24.1rem;
    top:18.2rem;
  }
  
  .banner {
    position: relative;
    width: 100%;
    height: auto;
    background-image: url('../assets/bannerPic.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
    clear: both;
  }
  
  .cooperationExa {
    position: relative;
    width: 100%;
    height: auto;
    background-image: url('../assets/p21.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
    padding-top:33px;
    clear: both;
    background-color: #f9fafc
  }
  .MerchantAlliance{
    background-color: #f9fafc;
    height: auto;
  }
  .methods {
    position: relative;
    width: 100%;
    background-image: url('../assets/p13.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
    padding-top: 50px;
    clear: both;
    height: auto;
  }
  
  .banner::after {
    content: "";
    display: block;
    padding-bottom: 30%;
  }
  
  
  .hello {
    width: 100%;
    text-align: center;
  }
  
  .businessLogo {
    width: 14.2rem;
    height: 4rem;
    padding: 0.4rem 0;
    float: left;
    margin-right: 8.5rem;
  }
  
  .qqLogo {
    width: 8.9rem;
    height: 2.5rem;
    padding: 1rem 0;
    float: left;
  }
  .qqLogo2{
    float: left;
    margin-left: 2.4rem;
    width: auto;
    height: 5.3rem;
    line-height: 5.0rem;
  }
  .menuItem {
    float: left;
    position: relative;
    width: 6.3rem;
    height:5.3rem;
    font-family: FZLTZHK-GBK1-0;
    font-size: 1.4rem;
    letter-spacing: 0.04rem;
    color: #333333;
    line-height: 5.0rem;
  }
  .p12 {
    width: 865px;
    height: auto;
    margin-top: 54px;
    margin-bottom:92px;
  }
  
  a {
    color: #42b983;
  }
  
  .el-row {
    padding-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  .el-col {
    border-radius: 4px;
  }
  
  .row-bg {
    margin-top: 2.5rem;
  }
  .leftPic{
    position: absolute;
    display: inline-block;
    top: 45%;
    left: 10%;
    width: 2rem;
    height: auto;
  }
  .bannerPicture{
    width: 60%;
    height: auto;
    margin: 0 auto;
    /* float: left; */
    display: inline-block;

  }
  .rightPic{
        float: right;
    position: absolute;
    display: inline-block;
    top: 45%;
    right: 10%;
    width: 2rem;
    height: auto;
  }